.Bio {
    background: $bg-color-lighter;
    @include box-shadow-dark;
    .Block--toolsArrow & {
        margin-top: $spacing * 2;
    }
}
.Bio__Heading {
    margin-bottom: $spacing/3;
}
.Bio__Contents {
    @include small-medium {
    }
    @include large {
        display: grid;
        grid-template-columns: 170px auto;
    }

    p:last-child {
        margin: 0;
    }
}
.Bio__Photo {
    overflow: hidden;

    @include small-medium {
      max-width: 120px;
      margin: 0 auto;
      padding-top: $spacing;
    }
    img {
        display: block;
        width: 100%;
    }
}
.Bio__Bio {
    padding: $spacing;
    font-size: $medium-font;
}
