.CompletionIndicator__Tooltip {
    background: $active-color;
    color: $navy;

    &:after {
        border: 8px solid rgba(136, 183, 213, 0);
        border-top-color: $active-color;
    }
}
.CompletionIndicator__Data {
    @include sr-only;
}
.CompletionIndicator__Chart__Bg {
    fill: $active-color-dark;
}
.CompletionIndicator__Chart__Fg {
    stroke: $active-color;
}
