/*****************************************************************************\
  base colors
\*****************************************************************************/

$greyLight: #e0e4e4;
$grey: #e1e1e1;
$greyMedium: #cecdcc;
$greyMediumer: #616868;
$greyMediumest: #5c6069;
$greyDark: #3d4049;
$greyDarkish: #2a2d33;
$greyDarker: #222429;

$blueLighter: #B2BBEE;
$blueLight: #808EE1;
$blue: #3c52d1;
$blueDark: #273aa2;

$pinkLightest: #D3BBF2;
$pinkLighter: #D68DF0;
$pinkLight: #EC75CB;
// $pink: #ec2f95; // contrast too low
$pink: #F649A7; // better contrast
// $pink: #f055a9; // even better contrast but looks washed out

$greenLighter: #E7FFED;
$greenLight: #ACFFC3;
$green: #85EBA2;
$greenDark: #59DF7F;

$tealLighter: #94eeee;
$tealLight: #65e0e0;
$teal: #41c7c7;
$tealDark: #2ba7a7;
$tealDarker: #1d7e7e;

$purpleLight: #B096E7;
$purple: #7854C3;
$purpleDark: #57457C;

$redLighter: #f8a8a8;
$redLight: #fc8f8f;
$red: #fe6a6a;
$redDark: #ec5555;
$redDarker: #be3737;

$yellow: #fbf34c;
$yellowDark: #d4cc33;
$aqua: #1ea0f2;

$white: #ffffff;
$black: #000000;

$navyLightest: #7e86ad;
$navyLighter: #484F73;
$navyLight: #303652;
$navy: #232840;
$navyDark: #1a1f35;

/*****************************************************************************\
  "functional" colors
\*****************************************************************************/


$active-color: $teal;
$active-color-dark: $tealDark;

$contrast-color: $red;
$contrast-color-dark: $redDark;

$bg-color: $greyDarker;
$bg-color-light: $greyDarkish;
$bg-color-lighter: $greyDark;
$bg-color-inverted: $greyLight;

$border-color: $greyMedium;
$border-color-dark: $greyMediumest;

$text-color: $grey;
$text-color-dark: $greyMediumer;
$text-color-inverted: $greyDarker;

$link-color: $active-color;
$hover-color: $contrast-color;
