/*****************************************************************************\
  base colors
\*****************************************************************************/

$greyLight: #e0e4e4;
$grey: #e1e1e1;
$greyMedium: #cecdcc;
$greyDark: #4d4f4f;
$greyDarker: #212424;

$blueLighter: #B2BBEE;
$blueLight: #808EE1;
$blue: #3c52d1;
$blueDark: #273aa2;

$pinkLightest: #D3BBF2;
$pinkLighter: #D68DF0;
$pinkLight: #EC75CB;
// $pink: #ec2f95; // contrast too low
$pink: #F649A7; // better contrast
// $pink: #f055a9; // even better contrast but looks washed out

$greenLighter: #E7FFED;
$greenLight: #ACFFC3;
$green: #85EBA2;
$greenDark: #59DF7F;

$tealLight: #bad9db;
$teal: #41c7c7;
$tealDark: #6a8f92;
$tealDarker: #445a5a;

$purpleLight: #B096E7;
$purple: #7854C3;
$purpleDark: #57457C;

$red: #fe6a6a;
$yellow: #fbf34c;
$aqua: #1ea0f2;

$white: #ffffff;

$navyLightest: #7e86ad;
$navyLighter: #484F73;
$navyLight: #303652;
$navy: #232840;
$navyDark: #1a1f35;

/*****************************************************************************\
  "functional" colors
\*****************************************************************************/

$bg-color: $greyDarker;
$bg-color-light: $greyLight;

$border-color: $greyMedium;
$dark-border-color: $greyDark;
$hover-color: $red;

$text-color: $grey;
$text-color-inverted: $blueDark;
$link-color: $teal;

$active-color: $red;