.Heatmap {
    display: grid;
    white-space: nowrap;
}

.Heatmap__Legend {
    font-size: $smallish-font;
    font-weight: 600;
    padding: $spacing / 2 0;
    align-self: end;
}

.Heatmap__Header {
    font-size: $small-font;
    font-weight: 600;
    padding: $spacing / 2 0;
    text-align: center;
    overflow: hidden;
}

.Heatmap__Subject {
    height: 40px;
    padding-right: $spacing / 2;
    font-size: $smallish-font;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $spacing;
    display: flex;
    align-items: center;
    padding: 0 $spacing / 2;
}

.Heatmap__Average {
    height: 40px;
    font-weight: 600;
    font-size: $smaller-font;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Heatmap__Subject--even,
.Heatmap__Average--even {
    background: $navyDark;
}

.Heatmap__Cell {
    height: 40px;
    font-weight: 600;
    color: $navy;
    font-size: $smaller-font;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Heatmap__Subject,
.Heatmap__Average,
.Heatmap__Cell {
    transition: opacity 200ms;
}

.Heatmap__Subject--inactive,
.Heatmap__Average--inactive,
.Heatmap__Cell--inactive {
    opacity: .1;
}

.Heatmap__ColorLegend__Label,
.Heatmap__ColorLegend {
    margin-top: $spacing * 1.5;
}

.Heatmap__ColorLegend__Label {
    text-align: right;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: $smallish-font;
    padding-right: $spacing;
    align-self: start;
}

.Heatmap__ColorLegend {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: start;
    grid-column-start: 3;
}

.Heatmap__ColorLegend__Cell {
    font-size: $small-font;
    text-align: center;
    border-bottom: 6px solid;
    padding: 2px 0 8px;
}