.Heatmap {
    display: grid;
}

.Heatmap__Legend {
    font-size: $smallish-font;
    font-weight: 600;
    padding: $spacing / 2 0;
    align-self: end;
}

.Heatmap__Header {
    font-size: $small-font;
    font-weight: 600;
    padding: $spacing / 2 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.Heatmap__Subject {
    height: 40px;
    padding-right: $spacing / 2;
    font-size: $smallish-font;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: $spacing;
    border-top: $border;
    display: flex;
    align-items: center;
    padding-left: 0;
    transition: padding 200ms, background-color 200ms;
}
.Heatmap__Subject--last {
    border-bottom: $border;
}
.Heatmap__Subject:hover {
    background: $navyDark;
    padding-left: $spacing;
}

.Heatmap__Cell {
    height: 40px;
    font-weight: 600;
    color: $navy;
    font-size: $smaller-font;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $navyDark;
}
.Heatmap__Cell--last {
    border-bottom: 1px solid $navy;
}