.LanguageSwitcher {
    .pagetitle & {
        @include small-medium {
            display: none;
        }
    }
    .Nav & {
        @include large {
            display: none;
        }
    }
    .Home__Wrapper & {
        padding: $spacing/2 $spacing;
    }
    .Sidebar & {
        margin-bottom: $spacing;
        @include border;
    }
}

.LanguageSwitcher__Inner {
    position: relative;
    .Sidebar & {
        padding: 8px 12px;
    }
}

.LanguageSwitcher__Toggle {
    @include flex-center;
    font-size: $medium-font;
    cursor: pointer;
    span {
        display: block;
        margin-right: $spacing/4;
    }
    svg {
        display: block;
        width: 12px;
        position: relative;
        polygon {
            fill: $text-color;
        }
    }
    .pagetitle & {
        padding: $spacing;
    }
}
.LanguageSwitcher__Options {
    .LanguageSwitcher--closed & {
        @include sr-only;
    }
}

