$sidebar_width: 270px;

.pagelayout__inner {
    min-height: 100vh;
    @include large {
        display: grid;
        grid-template-columns: $sidebar_width 1fr;
    }
}

.pagelayout__content {
    display: flex;
    flex-direction: column;
}

.pagelayout__main {
    overflow-x: hidden;
    flex-grow: 1;
    @include small-medium {
        padding: $spacing $spacing $spacing $spacing;
    }
    @include large {
        padding: $spacing * 3 $spacing * 3 $spacing * 3 $spacing * 3;
    }
}
