.PageTitle__Sidebar__Toggle {
    @include small-medium {
        padding: 0 $spacing / 2;
        height: 100%;
        @include flex-center;
    }
}

.Hamburger {
    fill: $white;
    stroke: $white;
}
