.Sponsors__Items {
    @include flex-center;
    @include small-medium {
        flex-direction: column;
    }
}
.Sponsors__Item {
    width: 150px;
    @include small-medium {
        margin-bottom: $spacing;
    }
    @include large {
        margin-right: $spacing * 3;
    }
    &:last-child {
        margin: 0;
    }
    a,
    svg,
    img {
        display: block;
        width: 100%;
    }
    &--designcode {
        width: 50px;
    }
}

.Sponsors__Support {
    font-size: $smallish-font;
    @include font-regular;
}
