.Tshirt__Introduction {
    margin-bottom: $spacing * 2;
}

.Tshirt {
    border: 1px solid $border-color;
    @include medium-large {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    // background: $navyLight;
}

.Tshirt__Images {
    @include small {
        border-bottom: 1px solid $border-color;
    }
    @include medium-large {
        border-right: 1px solid $border-color;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
.Tshirt__Image {
    img {
        display: block;
        width: 100%;
    }
}
.Tshirt__Image0 {
    border-bottom: 1px solid $border-color;
    grid-column-start: 1;
    grid-column-end: 3;
}
.Tshirt__Image1 {
    border-right: 1px solid $border-color;
}

.Tshirt__Description {
    @include small {
        padding: $spacing;
    }
    @include medium-large {
        padding: $spacing * 2;
    }
    h2 {
        margin-bottom: $spacing/4;
    }
    h3 {
        @include font-regular;
    }
}

.Tshirt__Button {
    @include disableUnderline;
    &:hover {
        @include ants;
    }
}
