/*

Variables

*/
@import '_normalize.scss';
@import '_colors.scss';
@import '_variables.scss';
@import '_breakpoints.scss';
@import '_typography.scss';

/*

Global

*/
@import '_global.scss';
@import '_layout.scss';
@import '_buttons.scss';

/*

Elements

*/
@import '_logo.scss';
@import '_sidebar.scss';
@import '_blocks.scss';
@import '_tooltips.scss';
@import '_share.scss';
@import '_resources.scss';
@import '_sponsors.scss';
@import '_pagetitle.scss';
@import '_newsletter.scss';
@import '_footer.scss';
@import '_tool_header.scss';
@import '_awards.scss';
@import '_languages.scss';
@import '_features.scss';
@import '_tshirt.scss';

/*

Charts

*/

@import '_charts.scss';
@import '_filters.scss';
@import '_legends.scss';
@import '_heatmap.scss';

@import '_capture.scss';
@import '_mosaic.scss';
